<%- include('partials/header'); -%>
<style>
    body {
  background-color: #E6FFFD;
  background-image: -webkit-linear-gradient(-65deg, #B799FF 50%,#98EECC 50%);
}
h1 {
  color: #fff;
  padding: 10px;
}

</style>
<h2>Welcome to myDiary!</h2>

   <p>At myDiary, we believe in the power of organization and reflection. We understand that life can be hectic, filled with numerous tasks, deadlines, and important events that can easily slip through the cracks. That's why we've created a platform that combines the functionalities of a to-do list, note-taking, and day planning, all in one convenient place.</p>
    
   <p> Our mission is to simplify your life and help you stay on top of your commitments while providing a space for personal reflection and growth. Whether you're a busy professional, a student juggling multiple responsibilities, or simply someone looking to enhance their productivity, myDiary is here to support you every step of the way.</p>
    
   <p>Key Features:</p> 
    <ol>
        <li>To-Do Lists: Stay organized and prioritize your tasks with our intuitive to-do list feature. Create lists for different areas of your life, set due dates, and even assign priority levels. Never miss an important deadline or forget a crucial task again.</li>
        <li>Notes: Capture your thoughts, ideas, and important information effortlessly. With our note-taking feature, you can create, edit, and organize your notes, making it easy to reference them whenever you need. Whether it's meeting minutes, brainstorming sessions, or personal reflections, myDiary has got you covered.</li>
        <li>Day Planning: Plan your day effectively and make the most of your time with our day planning feature. Set goals, allocate time slots for specific tasks, and track your progress throughout the day. By breaking your day into manageable chunks, you'll find yourself more focused, productive, and in control.</li>
        <li>Personalization: Customize myDiary to suit your preferences. Choose from a range of themes, colors, and layouts to create a personalized experience that resonates with you. We believe that when your digital environment reflects your style, it enhances your overall user experience.</li>
        <li>Sync Across Devices: Seamlessly access your diary, to-do lists, and notes from any device, anywhere, anytime. Whether you prefer to use myDiary on your desktop, laptop, tablet, or smartphone, all your data stays in sync, ensuring you're always up to date.</li>
    
    </ol>
     
    <h4>At myDiary, we value your privacy and security. We employ advanced encryption protocols to protect your data, ensuring that your information remains confidential and secure.</h4>
    
    <h3>So, are you ready to embark on a journey of productivity, organization, and self-reflection? Join us at myDiary and unlock the power to create a more balanced and fulfilling life.</h3>
    
    <p>Start your free trial today and experience the joy of a clutter-free mind.</p>
    
    <h2>Happy organizing!</h2>
    <h2>The myDiary Team</h2>
