<!DOCTYPE html>
<html>
<head>
  <title>Registration and Login Page</title>
  <link rel="shortcut icon" href="css/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <style>
    body {
      background-image: url("css/tonkla-pairoh-57USw1-h50k-unsplash.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: top 1px;

      color: white;
    }

    .container {
      text-align: center;
      margin-top: 150px;
    }

    h1 {
      font-size: 48px;
      font-weight: bold;
      margin-top: 24px;
      color:#AFD3E2;
    }

    h4 {
      margin-top: 12px;
    }
    .register{
      background-color: #FDCEDF;
    }
    .register:hover{
      background-color: #F2BED1;
    }
    .login{
      background-color: #FEFBF6;
    }
    .login:hover{
        background-color: #E3F4F4;
      }
    

  </style>
</head>
<body>
  <div class="container">
    <h1>Welcome to My Diary</h1>
    <h4 class="text-muted">Keep your thoughts safe</h4>
    <div class="row justify-content-center mt-4">
      <div class="col-md-4">
        <a href="/register" class="btn register btn-block">Register</a>
      </div>
      <div class="col-md-4 mt-3 mt-md-0">
        <a href="/login" class="btn login btn-block">Login</a>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
